<div
  class="canvas"
  #canvasEl
  cdkDropList
  id="canvas-drop-list"
  [cdkDropListConnectedTo]="['palette-drop-list']"
  [cdkDropListSortingDisabled]="true"
  (cdkDropListDropped)="onDrop($event)"
>
  @for (comp of components(); track comp.id) {
    <div
      class="canvas__item"
      [class.canvas__item--selected]="comp.id === selectedId()"
      [style]="itemStyle(comp)"
      [style.color]="comp.props.textColor"
      (mousedown)="onItemMouseDown($event, comp)"
      (click)="componentSelected.emit(comp.id)"
    >
      <button
        class="canvas__remove"
        type="button"
        title="Remove"
        (click)="$event.stopPropagation(); componentRemoved.emit(comp.id)"
      >×</button>

      @switch (comp.type) {
        @case ('input') {
          <div class="canvas__field">
            @if (comp.props.showTitle) {
              <label class="canvas__field-label">{{ comp.props.label }}</label>
            }
            <input class="canvas__field-input" type="text" disabled />
          </div>
        }
        @case ('select') {
          <div class="canvas__field">
            @if (comp.props.showTitle) {
              <label class="canvas__field-label">{{ comp.props.label }}</label>
            }
            <select class="canvas__field-select" disabled>
              <option>{{ comp.props.label }}</option>
            </select>
          </div>
        }
        @case ('button') {
          <button class="canvas__btn" type="button" [disabled]="comp.props.disabled">
            {{ comp.props.label }}
          </button>
        }
      }

      <div
        class="canvas__resize-handle"
        (mousedown)="onResizeStart($event, comp)"
      ></div>
    </div>
  }
</div>
